* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
}

p {
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  color: hsl(193, 100%, 96%);
  background-color: hsl(322, 100%, 66%);
  padding: 20px 70px;
  border-style: none;
  border-radius: 50px;
  outline: none;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
